<%- include('partials/header') %>

<main class="about-page">
    <h2>About CSE 340 Service Network</h2>
    <p>Learn more about our organization and mission.</p>

</main>

<%- include('partials/footer') %>
