<footer>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.
        <% if (NODE_ENV === 'development') { %>
            
        <% } %>
        </p>
    </footer>
</body>
</html>